.Page4 {
    margin-top: 60px;
    background-color:rgb(114, 114, 182);
    flex:1;
    height: calc(100vh - 60px);
}

@media only screen and (min-width:1000px) {
    .Page4 {
        margin-left:200px;
    }
    
}